<div class="sidebar sticky" itemprop="author" itemscope itemtype="http://schema.org/Person">
  <div class="author-avatar">
    <a href="{{ "/" | relURL }}">
      <img src="{{ (printf "/img/%s" $.Site.Params.avatar) | relURL }}" alt="{{ $.Site.Params.name }}" itemprop="image">
    </a>
  </div>
  <div class="author-content">
    <h3 class="author-name" itemprop="name">{{ $.Site.Params.name }}</h3>
    <p class="author-bio" itemprop="description">{{ $.Site.Params.bio }}</p>
  </div>
  <div class="author-urls-wrapper">
    We can say some nice things about the group here. Maybe a few sentences or so. I guess 3 will do. Nah, scratch that; I think 4 sentences works better.
  </div>
</div>
